*{
    box-sizing: border-box;
}
.contacts-block{
    background-image: url(../img/img-contact.png);
    height: 866px; 
    width: 100%;
    background-size: cover;
}
.main{
    margin: auto;
    position: relative;
    width: 1500px;
    height: 866px;
}
/*--------------------- header block----------------- */
.main__header-container{
    width: 400px;
    height: 280px;
    position: absolute;
    top: 90px;
    left: 550px;
}
.header-contacts{
    width: 385px;
    height: 170px;
}
.header-contacts__title{
    font-size: 90px;
    margin: 0;
    position: relative;
    bottom: 9px;
    left: 28px;
    font-family: 'Raleway', sans-serif;

}
.header-contacts__text{
        font-size: 17px;
        font-family: 'Raleway', sans-serif;
        line-height: 1.471;
        text-align: center;
        position: relative;
        bottom: 3px;
        left: 7px;
        letter-spacing: -0.1px
}
/* ----------------------- form block -------------------- */
.main__form-container{
    width: 520px;
    height: 450px;
    position: absolute;
    left: 164px;
    top: 303px;
}

.form{
    width: 500px;
    height: 445px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    position: relative;

}
.form [type]{
    width: 500px;
    height: 50px;
    background-color: #00c4c48a;
    border: 0;
    z-index: 2;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 700;
    padding-left: 19px;
}
.form [type]::placeholder{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 100;
}
.form [type]:focus{
    outline: 0;
    background-color: #00c4c4;
    border-left: 5px #355b82 solid;
}
.form__error{
    display: none;
    position: absolute;
    top: -2px;
    left: -2px;
    width: 504px;
    height: 54px;
    border: rgba(214, 0, 0, 0.836) 2px solid;
}
.form__error-text{
    font-size: 14px;
    position: relative;
    bottom: 20px;
    color: rgba(223, 0, 0, 0.897);
}
.form [type]:invalid+.form__error{
   display: block;
   z-index: 1;
}
.form__error--email{
    position: absolute;
    top: 63px;
}
.form__textarea{
    width: 500px;
    border: 0;
    height: 250px;
    background-color: #00c4c48e;
    padding-left: 19px;
    padding-top: 19px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 700;
}
.form__textarea::placeholder{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 100;
}
.form__textarea:focus{
    background-color: #00c4c4;
}
/*-------------------- contacts block ---------------*/
.main__contacts-container{
    position: absolute;
    top: 290px;
    right: 340px;
    width: 350px;
    height: 180px;
}
.contacts{
    width: 350px;
    height: 180px;
    font-family: "Raleway"; 
    line-height: 1.2;
}
.contacts *{
    margin: 10px 0px -2px 0px;
    padding-left: 25px;
    padding-top: 0;
}
.contacts__title{
    font-size: 17px;
}
.contacts__info{
    font-size: 20px; 
    position: relative;
    bottom: 10px;
}

  
/*----------------------- footer block ---------------------*/
.footer-container{
    width: 100%;
    background-color: #262626
}
.main__footer-container{
    margin: auto;
    height: 90px;
    background-color: #262626;
    width: 1500px;
    display: flex;
    justify-content: center;
}
.footer{
    width: 1200px;
    height: 100%;
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__text{
    color: #b9b9b9;
    padding-left: 15px;
    font-size: 16px;
    font-family: "Raleway", sans-serif; 
}
.footer__text-right{
    font-size: 15px;
    padding-right: 15px;
    padding-left: 0px;
}
.footer__text-right span{
    color: #f52b55;
}
.footer__logo{
    position: relative;
    top: 2px;
    right: 34px;
}